/* Style Stage colors & designs */
:root {
  --font-base: "Cabin", sans-serif;
  --font-display: "Roboto Condensed", sans-serif;
  --color-dark: #0b0809;
  --color-light: #e1e5ea;
  --color-primary: #323e49;
  --color-secondary: #fd8372;
  --color-tertiary: #feeb2d;
  --color-quaternary: #90b8d0;
  --size-base: 1rem;
  --size-300: calc(var(--size-base) * 0.75);
  --size-400: calc(var(--size-base) * 1);
}

/* Everything Else */

body {
  background: var(--color-light);
  color: var(--color-dark);
  line-height: 1.5;
  font-size: var(--size-400);
  font-family: var(--font-base);
}

h1,
h2,
h3,
h4 {
  color: var(--color-secondary);
  font-weight: 700;
  font-family: var(--font-display);
  line-height: 1.1;
  padding: 0.5em 1em;
}

header {
  background: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  border-radius: 10px;
}

.navigation {
  position: sticky;
  top: auto;
  right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40em;
  padding: 0.3em;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}
a::before {
  color: var(--color-dark);
}
a:visited {
  color: var(--color-secondary);
}

/* Main Page */
#container {
  display: flex;
  flex-direction: row;
}

#left-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-primary);
  flex: 1;
  margin-right: 1em;
  height: 31em;
  border-radius: 10px;
}

#right-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-primary);
  flex: 1;
  height: 31em;
  border-radius: 10px;
}
p {
  padding: 1em;
  color: var(--color-light);
  font-family: var(--font-base);
}

/* Timeline page */

#timeline {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.item {
  border: solid;
  margin-bottom: 2em;
}

/* Laws of Computing page */
