/* -------Light Switch-------- */
/* html,
body { */
/* margin: 0;
}
* {
  transition: 1s all;
}
input[type="checkbox"] + label {
  background-color: #040d1c;
  width: 50px;
  height: 20px;
  border-radius: 50px;
  display: block;
  padding: 10px;
  box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 5;
  position: absolute;
  top: calc(0 - 50px);
  left: calc(100% - 80px);
  cursor: pointer;
  cursor: hand;
}
#button {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #f0f0f0;
  box-shadow: 0 0 100px rgba(255, 255, 255, 1);
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label ~ section {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0f1f3a;
  z-index: -1;
}
/* ----- CHECKED ----- */
/* input[type="checkbox"]:checked + label {
  background-color: #2a5fba;
}
input[type="checkbox"]:checked + label ~ section {
  background-color: #568eef;
}
input[type="checkbox"]:checked + label #button {
  background-color: #f4e94e;
  margin-left: calc(100% - 20px);
  box-shadow: 0 0 100px rgba(249, 240, 104, 1);
}
input[type="checkbox"]:checked + label #button * {
  opacity: 0;
/* } */

/* Everything Else */

body {
  background-color: #fafbfc;
}

h1 {
  color: #fd8372;
  align-self: center;
  padding: 0.25em 0.5em;
}

header {
  background-color: #323e49;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1em;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: #fd8372;
}

/* Main Page */
#container {
  display: flex;
  flex-direction: row;
}
#left-box {
  background-color: #323e49;
  flex: 1;
  margin-right: 1em;
  height: 30em;
  border-radius: 10px;
}
#right-box {
  background-color: #323e49;
  flex: 1;
  height: 30em;
  border-radius: 10px;
}
p {
  padding: 1em;
  color: #fd8372;
}

/* Timeline page */
#t-container {
  display: flex;
  flex-direction: row;
}
.column-1 {
  display: flex;
  flex: 1 400px;
  background-color: #323e49;
  padding: 1em;
  margin: 1em;
  margin-right: 0.2em;
  margin-left: 0;
  border-radius: 10px 1px 1px 10px;
}

.cirlce {
  background-color: #fd8372;
  border-radius: 100%;
  width: 0.5em;
  height: 0.5em;
}

.column-2 {
  display: flex;
  background-color: #323e49;
  padding: 1em;
  margin: 1em 0;
  border-radius: 1px 10px 10px 1px;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
